# ============================
# ==== PostgreSQL ============
# ============================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=product
POSTGRES_SERVER=db
POSTGRES_PORT=5432

# ============================
# ==== SQLAlchemy ============
# ============================
# Format : postgresql+psycopg2://USER:PASSWORD@HOST:PORT/DBNAME
DATABASE_URL=postgresql+psycopg2://postgres:change_me@db:5432/product

# ============================
# ==== Sécurité API ==========
# ============================
# Clés à utiliser pour sécuriser tes endpoints
API_KEY_READ=your-read-key
API_KEY_ADMIN=your-admin-key

# ============================
# ==== RabbitMQ ==============
# ============================
RABBITMQ_ENABLED=true
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/%2F
RABBITMQ_EXCHANGE=products
RABBITMQ_EXCHANGE_TYPE=fanout

# ============================
# ==== Auth (Keycloak) =======
# ============================
# Remplace l’URL par ton instance réelle
KEYCLOAK_ISSUER=http://localhost:8081/realms/paye-ton-kawa

# ============================
# ==== Métadonnées app =======
# ============================
APP_TITLE=Product API - PayeTonKawa
APP_VERSION=1.0.0
APP_DESCRIPTION=API Produits CRUD + API Key + Prometheus + RabbitMQ
